<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs Mongo CRUD</title>
</head>

<body>
    <h1>
        Index
    </h1>
    <ul>
        <li>abouts<a href="./abouts.hbs"></a></li>
        <li>home<a href="./index.hbs"></a></li>
    </ul>

    <form action="/tasks/add" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" placeholder="Title" id="title">
        </div>
        <div>
            <label for="description ">Description:</label>
            <textarea name="description" placeholder="Description" id="description"></textarea>

        </div>

        <button>Add</button>
    </form>

    


  

</body>

</html>