 <h1>
        Navbar
    </h1>
    <ul>
        <li>abouts<a href="./navbar.hbs"></a></li>
        <li>home<a href="../index.hbs"></a></li>
        <li>contants<a href="../abouts.hbs"></a></li>
    </ul>



    <pre>
        {tasks}
    </pre>